In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("Merged Endfile/final.csv")

In [3]:
data

,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
0,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,2003\cq1\endfile.csv
1,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,2003\cq1\endfile.csv
2,2/26/2003,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,2003\cq1\endfile.csv
3,3/28/2003,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,2003\cq1\endfile.csv
4,03-11-2003,58.310,IQTR4803149,IQ183195,Private Company,IQ20803,2003\cq1\endfile.csv
...,...,...,...,...,...,...,...
341604,10/25/2002,168.840,IQTR3207430,IQ127761,Private Company,IQ248356,2021\cq4\endfile.csv
341605,10-01-2002,25.690,IQTR4679141,IQ4614857,Private Company,IQ2087645,2021\cq4\endfile.csv
341606,10-01-2002,48.740,IQTR23796902,IQ25107,Private Company,IQ23121,2021\cq4\endfile.csv
341607,11/22/2002,366.300,IQTR10120358,IQ9466547,Private Company,IQ19627,2021\cq4\endfile.csv
341608,11/26/2002,68.680,IQTR2004692,IQ1497356,Private Company,IQ345779,2021\cq4\endfile.csv

In [47]:
data.describe()

           dealvalue
count  341609.000000
mean      476.886012
std      2984.645610
min         5.233333
25%        40.785000
50%        82.130000
75%       225.890000
max     87278.600000

In [48]:
data.shape

(341609, 7)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341609 entries, 0 to 341608
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   closedDate          341609 non-null  object
 1   dealvalue           341609 non-null  float64
 2   transaction_id      341609 non-null  object
 3   taget_id            341609 non-null  object
 4   target_companytype  341609 non-null  object
 5   buyer_id            341609 non-null  object
 6   sourcefilename      341609 non-null  object
dtypes: float64(1), object(6)
memory usage: 18.2+ MB

In [50]:
data.tail(20)

,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
341589,10/30/2002,337.596667,IQTR3461236,IQ11777420,Private Company,IQ18733,2021\cq4\endfile.csv
341590,10/30/2002,337.596667,IQTR3461236,IQ11777420,Private Company,IQ671980,2021\cq4\endfile.csv
341591,10/30/2002,337.596667,IQTR3461236,IQ11777420,Private Company,IQ19897,2021\cq4\endfile.csv
341592,11/22/2002,18.560000,IQTR12188994,IQ29589,Private Company,IQ469127,2021\cq4\endfile.csv
341593,11/22/2002,18.560000,IQTR12188994,IQ29589,Private Company,IQ23350734,2021\cq4\endfile.csv
341594,10/28/2002,118.020000,IQTR3452556,IQ706022,Private Company,IQ94585,2021\cq4\endfile.csv
341595,10-07-2002,173.030000,IQTR3255898,IQ2462067,Private Company,IQ875522,2021\cq4\endfile.csv
341596,10-01-2002,96.470000,IQTR2990944,IQ30219,Private Company,IQ2952485,2021\cq4\endfile.csv
341597,10-09-2002,107.010000,IQTR3552802,IQ24210,Private Company,IQ24336,2021\cq4\endfile.csv
341598,11-08-2002,38.060000,IQTR3418531,IQ3418516,Private Company,IQ279020,2021\cq4\endfile.csv
341599,10/16/2002,30.000000,IQTR27291220,IQ27291155,Private Company,IQ5686531,2021\cq4\endfile.csv
341600,10/25/2002,39.475000,IQTR10978356,IQ1030012,Private Company,IQ1495607,2021\cq4\endfile.csv
341601,10/25/2002,39.475000,IQTR10978356,IQ1030012,Private Company,IQ405201,2021\cq4\endfile.csv
341602,10-08-2002,34.440000,IQTR3259059,IQ136756465,Assets/Products,IQ397809,2021\cq4\endfile.csv
341603,10-07-2002,25.450000,IQTR3259871,IQ3259859,Private Company,IQ398784,2021\cq4\endfile.csv
341604,10/25/2002,168.840000,IQTR3207430,IQ127761,Private Company,IQ248356,2021\cq4\endfile.csv
341605,10-01-2002,25.690000,IQTR4679141,IQ4614857,Private Company,IQ2087645,2021\cq4\endfile.csv
341606,10-01-2002,48.740000,IQTR23796902,IQ25107,Private Company,IQ23121,2021\cq4\endfile.csv
341607,11/22/2002,366.300000,IQTR10120358,IQ9466547,Private Company,IQ19627,2021\cq4\endfile.csv
341608,11/26/2002,68.680000,IQTR2004692,IQ1497356,Private Company,IQ345779,2021\cq4\endfile.csv

In [51]:
data['closedDate'] = pd.to_datetime(df['closedDate'])

In [52]:
data

,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
0,2003-03-17,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,2003\cq1\endfile.csv
1,2003-03-17,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,2003\cq1\endfile.csv
2,2003-02-26,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,2003\cq1\endfile.csv
3,2003-03-28,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,2003\cq1\endfile.csv
4,2003-03-11,58.310,IQTR4803149,IQ183195,Private Company,IQ20803,2003\cq1\endfile.csv
...,...,...,...,...,...,...,...
341604,2002-10-25,168.840,IQTR3207430,IQ127761,Private Company,IQ248356,2021\cq4\endfile.csv
341605,2002-10-01,25.690,IQTR4679141,IQ4614857,Private Company,IQ2087645,2021\cq4\endfile.csv
341606,2002-10-01,48.740,IQTR23796902,IQ25107,Private Company,IQ23121,2021\cq4\endfile.csv
341607,2002-11-22,366.300,IQTR10120358,IQ9466547,Private Company,IQ19627,2021\cq4\endfile.csv
341608,2002-11-26,68.680,IQTR2004692,IQ1497356,Private Company,IQ345779,2021\cq4\endfile.csv

In [53]:
data.head(20)

,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
0,2003-03-17,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,2003\cq1\endfile.csv
1,2003-03-17,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,2003\cq1\endfile.csv
2,2003-02-26,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,2003\cq1\endfile.csv
3,2003-03-28,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,2003\cq1\endfile.csv
4,2003-03-11,58.310,IQTR4803149,IQ183195,Private Company,IQ20803,2003\cq1\endfile.csv
5,2003-03-07,49.200,IQTR4765543,IQ26873,Public Company,IQ30239,2003\cq1\endfile.csv
6,2003-01-30,635.480,IQTR4338514,IQ4338497,Assets/Products,IQ385872,2003\cq1\endfile.csv
7,2003-02-10,31.070,IQTR4473376,IQ26240,Private Company,IQ293711,2003\cq1\endfile.csv
8,2003-02-27,61.010,IQTR12190445,IQ12190434,Private Company,IQ409298,2003\cq1\endfile.csv
9,2003-03-18,211.590,IQTR11737157,IQ11737122,Assets/Products,IQ382553,2003\cq1\endfile.csv
10,2003-03-26,686.810,IQTR4915269,IQ32271,Private Company,IQ6618085,2003\cq1\endfile.csv
11,2003-02-13,58.130,IQTR4524606,IQ4524474,Assets/Products,IQ33420,2003\cq1\endfile.csv
12,2003-02-10,289.290,IQTR26578228,IQ10158679,Public Company,-,2003\cq1\endfile.csv
13,2003-02-10,2514.900,IQTR4481344,IQ257462,Private Company,IQ139677,2003\cq1\endfile.csv
14,2003-03-26,38.100,IQTR4904592,IQ159309,Private Company,IQ318668,2003\cq1\endfile.csv
15,2003-03-06,147.530,IQTR4931888,IQ4931885,Assets/Products,IQ695365,2003\cq1\endfile.csv
16,2003-02-06,323.120,IQTR4452262,IQ4287835,Private Company,IQ657860,2003\cq1\endfile.csv
17,2003-02-03,34.110,IQTR4442219,IQ28166,Private Company,IQ321244,2003\cq1\endfile.csv
18,2003-03-28,213.830,IQTR3128267,IQ955557,Private Company,IQ301667,2003\cq1\endfile.csv
19,2003-02-25,53.750,IQTR4613587,IQ1011195,Private Company,IQ28871,2003\cq1\endfile.csv

0       IQ18759
1       IQ21407
2       IQ26449
3      IQ327481
4       IQ20803
5       IQ30239
6      IQ385872
7      IQ293711
8      IQ409298
9      IQ382553
10    IQ6618085
11      IQ33420
12            -
13     IQ139677
14     IQ318668
15     IQ695365
16     IQ657860
17     IQ321244
18     IQ301667
19      IQ28871
Name: buyer_id, dtype: object

In [8]:
data = data[data['buyer_id'] != '-']

KeyError: False

In [8]:
data['buyer_id'].head(20)

0       IQ18759
1       IQ21407
2       IQ26449
3      IQ327481
4       IQ20803
5       IQ30239
6      IQ385872
7      IQ293711
8      IQ409298
9      IQ382553
10    IQ6618085
11      IQ33420
13     IQ139677
14     IQ318668
15     IQ695365
16     IQ657860
17     IQ321244
18     IQ301667
19      IQ28871
20      IQ34235
Name: buyer_id, dtype: object

In [9]:
data.to_csv('removeBuyerNull.csv')

In [10]:
df=pd.read_csv('removeBuyerNull.csv')
df

,Unnamed: 0,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
0,0,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,2003\cq1\endfile.csv
1,1,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,2003\cq1\endfile.csv
2,2,2/26/2003,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,2003\cq1\endfile.csv
3,3,3/28/2003,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,2003\cq1\endfile.csv
4,4,03-11-2003,58.310,IQTR4803149,IQ183195,Private Company,IQ20803,2003\cq1\endfile.csv
...,...,...,...,...,...,...,...,...
333393,341604,10/25/2002,168.840,IQTR3207430,IQ127761,Private Company,IQ248356,2021\cq4\endfile.csv
333394,341605,10-01-2002,25.690,IQTR4679141,IQ4614857,Private Company,IQ2087645,2021\cq4\endfile.csv
333395,341606,10-01-2002,48.740,IQTR23796902,IQ25107,Private Company,IQ23121,2021\cq4\endfile.csv
333396,341607,11/22/2002,366.300,IQTR10120358,IQ9466547,Private Company,IQ19627,2021\cq4\endfile.csv
333397,341608,11/26/2002,68.680,IQTR2004692,IQ1497356,Private Company,IQ345779,2021\cq4\endfile.csv

In [11]:
df = df[df['buyer_id'] != '-']

In [13]:
df.head(20)

,Unnamed: 0,closedDate,dealvalue,transaction_id,taget_id,target_companytype,buyer_id,sourcefilename
0,0,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ18759,2003\cq1\endfile.csv
1,1,3/17/2003,30.305,IQTR4841274,IQ265308,Private Company,IQ21407,2003\cq1\endfile.csv
2,2,2/26/2003,148.400,IQTR6349813,IQ32586,Public Company,IQ26449,2003\cq1\endfile.csv
3,3,3/28/2003,28.360,IQTR3796458,IQ3796454,Private Company,IQ327481,2003\cq1\endfile.csv
4,4,03-11-2003,58.310,IQTR4803149,IQ183195,Private Company,IQ20803,2003\cq1\endfile.csv
5,5,03-07-2003,49.200,IQTR4765543,IQ26873,Public Company,IQ30239,2003\cq1\endfile.csv
6,6,1/30/2003,635.480,IQTR4338514,IQ4338497,Assets/Products,IQ385872,2003\cq1\endfile.csv
7,7,02-10-2003,31.070,IQTR4473376,IQ26240,Private Company,IQ293711,2003\cq1\endfile.csv
8,8,2/27/2003,61.010,IQTR12190445,IQ12190434,Private Company,IQ409298,2003\cq1\endfile.csv
9,9,3/18/2003,211.590,IQTR11737157,IQ11737122,Assets/Products,IQ382553,2003\cq1\endfile.csv
10,10,3/26/2003,686.810,IQTR4915269,IQ32271,Private Company,IQ6618085,2003\cq1\endfile.csv
11,11,2/13/2003,58.130,IQTR4524606,IQ4524474,Assets/Products,IQ33420,2003\cq1\endfile.csv
12,13,02-10-2003,2514.900,IQTR4481344,IQ257462,Private Company,IQ139677,2003\cq1\endfile.csv
13,14,3/26/2003,38.100,IQTR4904592,IQ159309,Private Company,IQ318668,2003\cq1\endfile.csv
14,15,03-06-2003,147.530,IQTR4931888,IQ4931885,Assets/Products,IQ695365,2003\cq1\endfile.csv
15,16,02-06-2003,323.120,IQTR4452262,IQ4287835,Private Company,IQ657860,2003\cq1\endfile.csv
16,17,02-03-2003,34.110,IQTR4442219,IQ28166,Private Company,IQ321244,2003\cq1\endfile.csv
17,18,3/28/2003,213.830,IQTR3128267,IQ955557,Private Company,IQ301667,2003\cq1\endfile.csv
18,19,2/25/2003,53.750,IQTR4613587,IQ1011195,Private Company,IQ28871,2003\cq1\endfile.csv
19,20,02-11-2003,93.830,IQTR4527088,IQ763582,Private Company,IQ34235,2003\cq1\endfile.csv

In [14]:
df['closedDate'] = pd.to_datetime(df['closedDate'])

In [4]:
df.head(20)

NameError: name 'df' is not defined

In [17]:
df.to_csv('removeBuyerNull.csv')

In [3]:
df

NameError: name 'df' is not defined

In [2]:
unique_buyer_ids = data['buyer_id'].unique()

NameError: name 'data' is not defined

In [3]:
pdf = pd.read_csv('final_m&a.csv')

In [4]:
pdf.describe()

           dealvalue
count  333398.000000
mean      484.577639
std      3020.303974
min         5.233333
25%        40.750000
50%        82.700000
75%       228.830000
max     87278.600000